// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day rect {
    stroke: gray;
    fill: none;
}

.day text {
    font-size: 20pt;
}

#stats {
    ul {
        list-style: none;
    }

    .color {
        display: inline-block;
        width: 1.5em;
        height: 1em;
    }
}
